# Variable in Python

## Numeric variables

In [7]:
int_variable = 3
int_variable_2 = 56
int_variable_3 = 100

In [8]:
float_variable = 3.5677888
float_variable_2 = 5/6
float_variable_3 = 1.313231

In [9]:
print(float_variable, float_variable_2, float_variable_3)
print(int_variable, int_variable_2, int_variable_3)

3.5677888 0.8333333333333334 1.313231
3 56 100

In [10]:
complex_num1 = 3 + 5j
complex_num2 = 1 - 3j
complex_num3 = 0 - 2j

In [11]:
print(complex_num1, complex_num2, complex_num3)

(3+5j) (1-3j) -2j

# Strings

In [12]:
string_1 = 'Dima'
string_2 = 'German'
string_3 = 'Solomon'

In [13]:
print(string_1, string_2, string_3)

Dima German Solomon

In [17]:
string_numbers = '3241241241'
string_numbers_and_symbols = 'dima_3241241241_@3$32435'

In [18]:
print(string_numbers, string_numbers_and_symbols)

3241241241 dima_3241241241_@3$32435

# List

In [27]:
list_of_integers = [1, 2, 3, 300]
list_of_floats = [1.323, 2.9876, 300.89]
list_of_string = ['Dima', 'Dasha', 'German', 'Pug']
list_combined_types = [1, 1.4646, 'String', 3 + 6j]

In [26]:
print(list_of_integers, list_of_floats, list_of_string)

[1, 2, 3, 300] [1.323, 2.9876, 300.89] ['Dima', 'Dasha', 'German', 'Pug']

In [29]:
list_of_variables = [int_variable_2, float_variable_3, string_2]

In [30]:
print(list_of_variables)

[56, 1.313231, 'German']

# Dictionary

In [31]:
dict_animals = {'Sharik' : 'dog', 'Nemo' : 'fish', 'Claws' : 'shark', 'Dima' : 'human'}

In [32]:
print(dict_animals)

{'Sharik': 'dog', 'Nemo': 'fish', 'Claws': 'shark', 'Dima': 'human'}

In [33]:
dict_cars = {'Mercedes' : 20_000, 'BMW' : 25_000, 'LADA' : 5000, 'Toyta' : 17_000}

# Simple math with Python

In [42]:
var_int1 = 560
var_int2 = 8

In [43]:
print(var_int1 + var_int2)
print(var_int1 - var_int2)
print(var_int1 * var_int2)
print(var_int1 / var_int2)
print(var_int1 // var_int2)
print(var_int1 ** var_int2)

568
552
4480
70.0
70
9671731157401600000000

In [37]:
var_float1 = 7.2312312
var_float2 = 1.30

In [44]:
print(var_float1 + var_float2)
print(var_float1 - var_float2)
print(var_float1 * var_float2)
print(var_float1 / var_float2)
# print(var_float1 // var_float2)
print(var_float1 ** var_float2)

8.5312312
5.9312312
9.40060056
5.562485538461538
13.091093398991253

# Operations with strings

In [54]:
string_test1 = 'Yandex worker'
string_test2 = 'Dima'

In [46]:
print(string_test1)

Yandex worker

In [52]:
string_test1.upper()

'YANDEX WORKER'

In [53]:
string_test1.lower()

'yandex worker'

In [57]:
string_test1 + ' ' + string_test2 + ' making a video lecture'

'Yandex worker Dima making a video lecture'

# Loops in Python

## For loops

In [61]:
collection = [1, 2, 3, 100, 400, 10000, 2000, 300, 1]

In [65]:
for el in collection:
    print(el ** 3)

1
8
27
1000000
64000000
1000000000000
8000000000
27000000
1

In [66]:
for el in range(1, 150, 2):
    print(el)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149

In [69]:
list_from_1to150 = [el for el in range(1, 1500, 2)]

In [70]:
print(list_from_1to150)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999, 1001, 1003, 1005, 1007, 1009, 1011, 1013, 1015, 1017, 1019, 1021, 1023, 1025, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1049, 1051, 1053, 1055, 1057, 1059, 1061, 1063, 1065, 1067, 1069, 1071, 1073, 1075, 1077, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1093, 1095, 1097, 1099, 1101, 1103, 1105, 1107, 1109, 1111, 1113, 1115, 1117, 1119, 1121, 1123, 1125, 1127, 1129, 1131, 1133, 1135, 1137, 1139, 1141, 1143, 1145, 1147, 1149, 1151, 1153, 1155, 1157, 1159, 1161, 1163, 1165, 1167, 1169, 1171, 1173, 1175, 1177, 1179, 1181, 1183, 1185, 1187, 1189, 1191, 1193, 1195, 1197, 1199, 1201, 1203, 1205, 1207, 1209, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1225, 1227, 1229, 1231, 1233, 1235, 1237, 1239, 1241, 1243, 1245, 1247, 1249, 1251, 1253, 1255, 1257, 1259, 1261, 1263, 1265, 1267, 1269, 1271, 1273, 1275, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1293, 1295, 1297, 1299, 1301, 1303, 1305, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1321, 1323, 1325, 1327, 1329, 1331, 1333, 1335, 1337, 1339, 1341, 1343, 1345, 1347, 1349, 1351, 1353, 1355, 1357, 1359, 1361, 1363, 1365, 1367, 1369, 1371, 1373, 1375, 1377, 1379, 1381, 1383, 1385, 1387, 1389, 1391, 1393, 1395, 1397, 1399, 1401, 1403, 1405, 1407, 1409, 1411, 1413, 1415, 1417, 1419, 1421, 1423, 1425, 1427, 1429, 1431, 1433, 1435, 1437, 1439, 1441, 1443, 1445, 1447, 1449, 1451, 1453, 1455, 1457, 1459, 1461, 1463, 1465, 1467, 1469, 1471, 1473, 1475, 1477, 1479, 1481, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1499]

## While loops

In [74]:
el = 0
while el < 1500:
    print(el)
    # el = el + 1
    el += 3

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300
303
306
309
312
315
318
321
324
327
330
333
336
339
342
345
348
351
354
357
360
363
366
369
372
375
378
381
384
387
390
393
396
399
402
405
408
411
414
417
420
423
426
429
432
435
438
441
444
447
450
453
456
459
462
465
468
471
474
477
480
483
486
489
492
495
498
501
504
507
510
513
516
519
522
525
528
531
534
537
540
543
546
549
552
555
558
561
564
567
570
573
576
579
582
585
588
591
594
597
600
603
606
609
612
615
618
621
624
627
630
633
636
639
642
645
648
651
654
657
660
663
666
669
672
675
678
681
684
687
690
693
696
699
702
705
708
711
714
717
720
723
726
729
732
735
738
741
744
747
750
753
756
759
762
765
768
771
774
777
780
783
786
789
792
795
798
801
804
807
810
813
816
819
822
825
828
831
834
837
840
843
846
849
852
855
858
861
864
867
870
873
876
879
882
885
888
891
894
897
900
903
906
909
912
915
918
921
924
927
930
933
936
939
942
945
948
951
954
957
960
963
966
969
972
975
978
981
984
987
990
993
996
999
1002
1005
1008
1011
1014
1017
1020
1023
1026
1029
1032
1035
1038
1041
1044
1047
1050
1053
1056
1059
1062
1065
1068
1071
1074
1077
1080
1083
1086
1089
1092
1095
1098
1101
1104
1107
1110
1113
1116
1119
1122
1125
1128
1131
1134
1137
1140
1143
1146
1149
1152
1155
1158
1161
1164
1167
1170
1173
1176
1179
1182
1185
1188
1191
1194
1197
1200
1203
1206
1209
1212
1215
1218
1221
1224
1227
1230
1233
1236
1239
1242
1245
1248
1251
1254
1257
1260
1263
1266
1269
1272
1275
1278
1281
1284
1287
1290
1293
1296
1299
1302
1305
1308
1311
1314
1317
1320
1323
1326
1329
1332
1335
1338
1341
1344
1347
1350
1353
1356
1359
1362
1365
1368
1371
1374
1377
1380
1383
1386
1389
1392
1395
1398
1401
1404
1407
1410
1413
1416
1419
1422
1425
1428
1431
1434
1437
1440
1443
1446
1449
1452
1455
1458
1461
1464
1467
1470
1473
1476
1479
1482
1485
1488
1491
1494
1497

# Logical Statements

In [75]:
bool_variable_1 = True
bool_variable_2 = False

In [79]:
print(bool_variable_1 or bool_variable_1)
print(bool_variable_1 and bool_variable_1)
print(bool_variable_1 ^ bool_variable_1)

print(bool_variable_2 or bool_variable_1)
print(bool_variable_2 and bool_variable_1)
print(bool_variable_2 ^ bool_variable_1)

True
True
False
True
False
True

In [81]:
temperature = 20 # degrees celcium
humidity = 'high'

if temperature > 20 and humidity == 'low':
    print('Yes go for walk')
elif temperature >= 20 and humidity == 'high':
    print('No its not so well outside')
else:
    print('It not the best time for walk')

No its not so well outside